.page-content {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
.filter:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}
.contact:hover, .contact:focus {
    color: #2196F3;
    line-height: 1.7;
}
.order {
    color: #FFFFFF;
    background-color: #2196F3;
    line-height: 1.88;
}
.sections {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.describe {
    font-size: 14px;
    color: #757575;
    line-height: 1.7;
}
.nav-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
}

h1 {
    font-size: 44px;
    line-height: 1.36;
}

h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
    font-weight: bold;
}
p {
    font-size: 16px;
    color: #757575;
}
