.page-content {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
.filter:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}
.contact:hover, :focus {
    color: #2196F3;
}
h3 {

}
p {
    color: #757575;
}